@use "variable";

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: variable.$font-family-leagueSpartan;
  display: grid;
  place-items: center;
  height: 100vh;

  &.theme-basic {
    background-color: variable.$color-bg-fiord;
  }

  &.theme-dark {
    background-color: variable.$color-bg-violet;
  }

  &.theme-light {
    background-color: variable.$color-bg-gallery;
  }
}

.container {
  padding: 20px;
  max-width: 350px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: end;

  .theme-basic & {
    color: variable.$color-text-white;
  }

  .theme-dark & {
    color: variable.$color-text-yellow;
  }

  .theme {
    display: flex;
    gap: 20px;

    .title {
      display: flex;
      align-items: end;
      font-size: 12px;
      font-weight: 600;
    }

    .preference-buttons {
      width: 70px;
      height: 45px;
      display: flex;
      flex-direction: column;

      .type {
        display: flex;
        flex: 1;
        justify-content: space-around;
        font-size: 13px;
        font-weight: 600;
      }

      .theme-button {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        padding: 0 5px;

        .theme-basic & {
          background-color: variable.$color-bg-ebonyClay;
        }

        .theme-dark & {
          background-color: variable.$color-key-windsor;
        }

        .theme-light & {
          background-color: variable.$color-bg-swissCoffee;
        }

        button {
          width: 13px;
          height: 13px;
          border-radius: 50%;
          border: none;

          .theme-dark & {
            background-color: variable.$color-key-robinsEggBlue;
          }

          .theme-light & {
            background-color: variable.$color-key-persianred;
          }
        }
      }
    }
  }
}

.result-wrapper {
  height: 70px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;

  .theme-basic & {
    background-color: variable.$color-bg-mirage;
  }

  .theme-dark & {
    background-color: variable.$color-bg-darkViolet;
  }

  .theme-light & {
    background-color: variable.$color-bg-white;
  }

  .result {
    height: 100%;
    text-align: right;
    font-size: 35px;
    font-weight: 600;
    direction: rtl;
    overflow: hidden;

    .theme-basic & {
      color: variable.$color-text-white;
    }

    .theme-dark & {
      color: variable.$color-text-yellow;
    }

    .theme-light & {
      color: variable.$color-text-armadillo;
    }
  }
}

.keys-wrapper {
  border-radius: 10px;
  padding-top: 20px;

  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
    border-radius: 10px;
    gap: 10px;
    padding: 20px;

    .theme-basic & {
      background-color: variable.$color-bg-ebonyClay;
    }

    .theme-dark & {
      background-color: variable.$color-bg-darkViolet;
    }

    .theme-light & {
      background-color: variable.$color-bg-swissCoffee;
    }

    button {
      padding: 5px;
      border-radius: 5px;
      background-color: white;
      border: none;
      display: flex;
      height: 55px;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-family: variable.$font-family-leagueSpartan;
      font-weight: 600;

      .theme-basic & {
        background-color: variable.$color-key-pearlbush;
        color: variable.$color-text-riverbed;
        border-bottom: 5px solid variable.$color-key-thatch;
      }

      .theme-dark & {
        background-color: variable.$color-key-grape;
        color: variable.$color-text-yellow;
        border-bottom: 5px solid variable.$color-key-seance;
      }

      .theme-light & {
        background-color: variable.$color-key-westar;
        color: variable.$color-text-riverbed;
        border-bottom: 5px solid variable.$color-key-thatch;
      }

      &.del,
      &.reset {
        font-size: 20px;

        .theme-basic & {
          background-color: variable.$color-key-lynch;
          color: variable.$color-text-white;
          border-bottom: 5px solid variable.$color-bg-fiord;
        }

        .theme-dark & {
          background-color: variable.$color-key-windsor;
          color: variable.$color-text-white;
          border-bottom: 5px solid variable.$color-key-electricViolet;
        }

        .theme-light & {
          background-color: variable.$color-key-paradiso;
          color: variable.$color-text-white;
          border-bottom: 5px solid variable.$color-key-lynch;
        }
      }

      &.equal {
        font-size: 20px;

        .theme-basic & {
          background-color: variable.$color-key-persianred;
          color: variable.$color-text-white;
          border-bottom: 5px solid variable.$color-key-peruTan;
        }

        .theme-dark & {
          background-color: variable.$color-key-robinsEggBlue;
          color: variable.$color-text-white;
          border-bottom: 5px solid variable.$color-key-lynch;
        }

        .theme-light & {
          background-color: variable.$color-key-burntOrange;
          color: variable.$color-text-white;
          border-bottom: 5px solid variable.$color-key-persianred;
        }
      }
    }
  }

  p {
    font-size: 25px;
  }

  .reset,
  .equal {
    grid-column: span 2;
  }
}

.theme-button {
  position: relative;

  input[type="radio"] {
    width: 15px;
    height: 15px;
    opacity: 0;
  }

  .circle {
    position: absolute;
    top: 3px;
    left: 5px;
    width: 15px;
    height: 15px;
    background-color: variable.$color-key-persianred;
    border-radius: 50%;
    transition: all 0.3s linear;
    pointer-events: none;
  }

  input[type="radio"]:nth-child(1):checked {
    ~ .circle {
      left: 5;
      background-color: variable.$color-key-persianred;
    }
  }

  input[type="radio"]:nth-child(2):checked {
    ~ .circle {
      left: 25px;
      background-color: variable.$color-key-burntOrange;
    }
  }

  input[type="radio"]:nth-child(3):checked {
    ~ .circle {
      left: 50px;
      background-color: variable.$color-key-robinsEggBlue;
    }
  }
}

.number,
.del,
.add,
.reset,
.div,
.mul,
.equal,
.sub {
  &.pressed {
    animation: btnPress 0.5s ease-in;
  }
}

@keyframes btnPress {
  0%,
  100% {
    height: 55px;
    border-bottom-width: 5px;
    transform: translateY(0);
  }
  50% {
    height: 50px;
    border-bottom-width: 0;
    transform: translateY(5px);
  }
}
